
{% extends "layout.html.twig" %}
{% block scroll_nav %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<img class="posrigth" src="{{ asset('public/img/logo.png') }}"  alt="logo">
		</div>
		<div class="col-md-1"></div>
	</div>
		<div class="liner"></div>
<body>
	<iframe class="encuestaestile" src="https://docs.google.com/forms/d/1h7QP6Zq4FdxyWfApP34ptDkIqG2UyhEun5WMKQ3Zqcc/viewform?embedded=true"></iframe>
</body>

{% endblock %}

{% block footer %}
{% endblock %}