{% extends "layout.html.twig" %}
{% block scroll_nav %}
{% endblock %}

{% block body %}
{{ parent() }}
	<div class="  liner"></div>
	
	<div class="backtwo">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<img src="{{asset('public/img/pr.jpg')}}"  class="imafont img-responsive" alt="">
				<img src="{{asset('public/img/logo.png')}}" class="logofloat img-responsive" alt="">
				<div class=" titlestile  cementery">
					<h3> Ayuda a quienes mas lo necesitan</h3>
					<p>tu donacion hara feliz a una mascota</p>
				</div>
			</div>
			<div class="col-md-1"></div>

		</div>
	</div>
	<div class="container">
		<h1 class="titulosection">Proximos eventos</h1>
		<hr>
		<div class="row">
		<div class="col-md-4">
		<div class="evenconten">
			<div class="eventname">
				<h3 class="titlestile">evento...</h3>
			</div>
		 <dl class=" textjusti dl-horizontal">
  		<dt class="colsector">Lugar:</dt>
  		<dd>Universidad del Quindio</dd>
  		<dt class="colsector" >Fecha:</dt>
  		<dd>19/02/2016 3:40 P.M</dd>
  		<dt class="colsector">Descripción:</dt>
  		<dd> .......... .......... .....</dd>
		</dl>
		</div>	
		</div>

		<div class="col-md-4">
			<div class="evenconten">
			<div class="eventname">
				<h3 class="titlestile">evento...</h3>
			</div>
		 <dl class=" textjusti dl-horizontal">
  		<dt class="colsector">Lugar:</dt>
  		<dd>Universidad del Quindio</dd>
  		<dt class="colsector" >Fecha:</dt>
  		<dd>19/02/2016 3:40 P.M</dd>
  		<dt class="colsector">Descripción:</dt>
  		<dd> .......... .......... .....</dd>
		</dl>
		</div>
		</div>

		<div class="col-md-4">
				<div class="evenconten">
			<div class="eventname">
				<h3 class="titlestile">evento...</h3>
			</div>
		 <dl class=" textjusti dl-horizontal">
  		<dt class="colsector">Lugar:</dt>
  		<dd>Universidad del Quindio</dd>
  		<dt class="colsector" >Fecha:</dt>
  		<dd>19/02/2016 3:40 P.M</dd>
  		<dt class="colsector">Descripción:</dt>
  		<dd> .......... .......... .....</dd>
		</dl>
		</div>
		</div>

		</div>
	</div>
	
{% endblock %}