<footer class="row margin">
			<hr>
			<div class="col-md-1"></div>
			<div class=" positin col-md-7">
			  <p><font><font>© 2015 Company, Inc. · </font></font><a href="#"><font><font>Privacidad</font></font></a><font><font> · </font></font><a href="#"><font><font>Condiciones</font></font></a></p>	
			</div>
			<div class="col-md-2">
				<div class="col-md-2">
				  <p>Síguenos</p>
				</div>
    		<a href="https://www.facebook.com/fundacion.callejeras?ref=ts&fref=ts" "facebook"><img  class="iconreeds" src="public/img/iconfb.png" alt=""></a>
    		<a href="mailto:joe@example.com?subject=feedback" "email me"><img  class="iconreeds" src="public/img/icontw.png" alt=""></a>	
			</div>
			<div class="col-md-1"><p class="pull-right"><a href="#"><font><font>Volver arriba</font></font></a></p></div>
			<div class="col-md-1"></div>
			
</footer>