<header>
		<div class="row margin">
  		<div class="col-md-1 "></div>
  		<div class="col-md-10">
  			  		
    <nav class="navbar navbar-default"> 
        <div class="container-fluid"> 
            <div class="navbar-header"> 
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
              </button> 
              <a><img class="dimen"src="{{ asset('public/img/nombre.png') }}"></a> 
            </div> 
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-5" aria-expanded="false" style="height: 1px;"> 
               <ul class="nav navbar-nav">
                      <li ><a class="links" href="{{ path('pc_fundation_index')}}" >Inicio <span class="sr-only"></span></a></li>
                      <li><a class="links" href="{{ path('pc_fundation_adoptar')}}" >Adoptar</a></li>
                      <li><a class="links" href="" >Donaciones</a></li>
                      <li><a class="links" href="{{ path('pc_fundation_nosotros')}}" >Nosotros</a></li>
                </ul>
            </div> 
        </div> 
    </nav>
    	</div>
  		<div class="mn colx-md-1"></div>
		</div>
</header>