.margin
{
	margin: auto;
	width: 100%;
	padding: 0px 10px;
  margin-top: 10px;
}
.dimen{
  height: 50px;
  text-align: center;

  }
.liner 	
 {
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+1,22d6ca+23,25ed39+45,25ed39+56,22d6ca+77,2989d8+100 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(left,  #2989d8 1%, #22d6ca 23%, #25ed39 45%, #25ed39 56%, #22d6ca 77%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #2989d8 1%,#22d6ca 23%,#25ed39 45%,#25ed39 56%,#22d6ca 77%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #2989d8 1%,#22d6ca 23%,#25ed39 45%,#25ed39 56%,#22d6ca 77%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */

 padding:5px;
 }
 .links:hover {
    background: -moz-linear-gradient(top, rgb(38, 164, 210) 0%, rgb(37, 177, 208) 1%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 38%);
    background: -webkit-linear-gradient(top, rgba(34,204,226,1) 0%,rgba(49,207,228,1) 1%,rgba(255,255,255,0) 15%,rgba(255,255,255,0) 38%);
    background: linear-gradient(to bottom, rgb(38, 162, 211) 0%,rgb(38, 164, 210) 1%,rgba(255,255,255,0) 15%,rgba(255,255,255,0) 38%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22cce2', endColorstr='#00ffffff',GradientType=0 );
    font-weight: bold;
}
.links {

display: inherit;
padding: 15px;
 }
.air
{
    position: absolute;
    width: 100px;
    margin-top: 10px;
    margin-right: 40px;
    right: 10px;
}
.degradfon
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,b5c6d0+2,b5c6d0+4,ffffff+11,ffffff+11,ffffff+90,b5c6d0+96,b5c6d0+99,e0eff9+100 */
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 2%, rgba(181,198,208,1) 4%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 90%, rgba(181,198,208,1) 96%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 2%,rgba(181,198,208,1) 4%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 90%,rgba(181,198,208,1) 96%,rgba(181,198,208,1) 99%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 2%,rgba(181,198,208,1) 4%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 90%,rgba(181,198,208,1) 96%,rgba(181,198,208,1) 99%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}


.simg{  width: 40px; height: 40px; margin-right: 5px;}
.positin{text-align: left;margin-top: 5px;}

.tamdefine{ height: 100%;width: 50%;}
.iconreeds{ height: 30px; width: 30px;}

.sectionstile{margin-bottom: 15px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding-right: 7px;
padding-left: 7px;
padding-top: 10px;
padding-bottom: 10px;
}
.back{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+41,efefef+51,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 41%, rgba(239,239,239,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 41%,rgba(239,239,239,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 41%,rgba(239,239,239,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.contmasc{ padding-left: 40%;}

.conmargin{border-left-style: double;
border-right-style: double;
border-bottom-style: double;
margin-bottom: 15px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
}

.notfloat{float: none;}

.h1estle{text-align: left; margin-left: 20px;}

.contengroup{margin-left: 30px;margin-right: 30px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding: 25px;
margin-top: 20%;
color: #4D8ABF;
box-shadow: 5px 5px 15px  #373C3E ;}

.butonstile{padding: 10px;}

.backfont{background-color: #eee;}
.botpd{padding:inherit;}
.estiletab{background-color:rgb(63, 166, 215);text-align: left;color:rgb(255, 255, 255); margin-top: 10px;}
.bordtab{border-top: 1px solid #fff; text-align: left;margin-left: 0px;}
.postlef{float: left;height: 60px;margin-top: 15px;}
.posrigth{float: right; height: 70px; margin-top: 10px;margin-right: 10px;margin-bottom: 5px;}

.contenmap{ height: 500px; margin: 20px; padding: 10px;border-radius: 20px;}
#map { height: 520px; }

.titlecome{ margin-top: 15px;margin-left: 10px; height: 50px;}
.logocomedog{float: left;height: 70px; margin-top: 10px;}

.sectstileadop{margin: 10px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding-right: 7px;
padding-left: 7px;
padding-top: 10px;
}

.conteneter{margin: 10px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding: 10px;

}
.back1{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0071a5+0,00b7ea+20,00b7ea+20,00b7ea+25,00b7ea+27,00b7ea+27,00b7ea+42,00b7ea+42,00b7ea+46,0071a5+100 */
background: rgb(0,113,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,113,165,1) 0%, rgba(0,183,234,1) 20%, rgba(0,183,234,1) 20%, rgba(0,183,234,1) 25%, rgba(0,183,234,1) 27%, rgba(0,183,234,1) 27%, rgba(0,183,234,1) 42%, rgba(0,183,234,1) 42%, rgba(0,183,234,1) 46%, rgba(0,113,165,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,113,165,1) 0%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 25%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 46%,rgba(0,113,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,113,165,1) 0%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 25%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 46%,rgba(0,113,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071a5', endColorstr='#0071a5',GradientType=0 ); /* IE6-9 */
}
.imgadop{width: 150px; float: left;position: absolute;left: 40px;top: 20px;box-shadow: 5px 5px 10px #82C8E4;}
.namemasct{text-align: right;margin-right: 10px;padding-top: 5px;color: white;}
.banername{margin-top:30px;border-radius: 15px;height: 40px;margin-left: 10px;}

.links2:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+0,0.35+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */

font-weight: bold;
border-radius: 10px;
}
.links2 {

display: inherit;
padding: 15px;
 }
 .estileinfo{margin-left: 30%;}

 .logaler{border-radius: 5px;display: none; padding: 5px;}

.nsfundation{ display: block;}
.imgessc { width: 60%;}.paricon{width: 80%;}.iconadmin{width: 15%;top: 5px;}
 .bagraundfd{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,eaeaea+55,eaeaea+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(234,234,234,1) 55%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(234,234,234,1) 55%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(234,234,234,1) 55%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
 border-radius: 20px;
 }
 .textjusti{text-align: justify;}
 .paddinnot{padding:0px;}
 .mapfund{
      height: 400px;
    padding: 71px;
    border-radius: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
 }
.boxshadow{box-shadow: 5px 5px 15px  #373C3E;}

.encuestaestile{width: 100%;height:690px; }

.sidebar {
    display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

  }
}
.posliner{position: relative;top: 51px; margin-bottom: 40px;}
.link3{display: inline-block;}
.link3:hover{ background-color: #25EB4A;font-weight: bold;}
.ctext{color: rgb(142, 142, 142);}
nav{
  background: rgba(0,0,0,0.8);
  width: 100%;
  position: fixed;
  z-index: 10;
}
@media (min-width: 768px){
.main {
    padding-right: 40px;
    padding-left: 40px;
}
}
.main {
    padding: 20px;
}
.drop{background-color: rgba(0, 0, 0, 0.8);color: blue;}

.backvent{background-color: rgba(0, 0, 0, 0.9);color: rgb(142, 142, 142);width: 100%;}
.pestile{border-top-right-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(142, 142, 142);
    width: 60%;
    border-top-left-radius: 20px;
  box-shadow: 5px 5px 15px  #373C3E ;}

.margnone{margin: 0;}

.conteform{
margin-right: 30px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
padding: 25px;
box-shadow: 5px 5px 15px  #373C3E ;}
.marginlabel{margin-top: 5px;}.butstil{width: 100%;}.boderno{border: none;}

.contlat{height: 40px;color:#337ab7;}.padp{padding-top: 10px;padding-left: 10px; padding-right: 10px;}.padinone{padding: 0;}
.contlat:hover {background-color: rgba(0, 0, 0, 0.05)}
.contarnum{background-color:rgb(255, 177, 0);}.pull{margin-top: 5px;}.colortexth4{color: #BBBABA;}

td, th {text-align: left;padding: 8px;}
.tdd{width: 20%;}.tdmd{width: 10%;}.tdxs{width: 5%;}.tdb{border: #ddd 1px solid;} .tabl{width: 100%;max-width: 100%;margin-bottom: 20px;}


.pest{    background-color: rgb(0, 134, 156);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;}
.timod{ background-color: rgb(0, 134, 156); color: white;}
.titedit{color: white;background-color: rgb(81, 167, 71);}
.coloralert{color:#07A2B3;text-align: left;}.colordanger{color: #FFB300;}.colorer{color: red;}
.displaycol{height: 200px; overflow-x:hidden; padding: 10px;}
.mion{margin-top: 10px;width: 90%;height: 200px;}
.titinfo{width: 100%; background-color: #07A2BA;padding: 8px;border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;}

.sectionstile2 {
    margin-bottom: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
.bdleft{border-left:#ddd 1px solid;}
.buttonborder{border-radius: 20px;box-shadow: 2px 3px 6px #999 ;}

.check{    width: 20%;
    height: 20px;}

.pestwo {
    background-color: rgb(197, 197, 197);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
.fondadmi {
    background-image: url('../img/df.png');
    width: 100%;
    bottom: 0px;
    position: fixed;
    height: 100%;
    margin-top: 61px;
    top: 0px;
    left: 0px;
    margin-left: 15%;
   
    
}