.margin
{
	margin: auto;
	width: 100%;
	padding: 0px 10px;
  margin-top: 10px;
      overflow: hidden;
}
.dimen{
  height: 50px;
  text-align: center;

  }
.liner 	
 {
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+1,22d6ca+23,25ed39+45,25ed39+56,22d6ca+77,2989d8+100 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(left,  #2989d8 1%, #22d6ca 23%, #25ed39 45%, #25ed39 56%, #22d6ca 77%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #2989d8 1%,#22d6ca 23%,#25ed39 45%,#25ed39 56%,#22d6ca 77%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #2989d8 1%,#22d6ca 23%,#25ed39 45%,#25ed39 56%,#22d6ca 77%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */

 padding:5px;
 }
 .links:hover {
        background: -moz-linear-gradient(top, rgb(38, 164, 210) 0%, rgb(37, 177, 208) 1%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 38%);
        background: -webkit-linear-gradient(top, rgba(34,204,226,1) 0%,rgba(49,207,228,1) 1%,rgba(255,255,255,0) 15%,rgba(255,255,255,0) 38%);
        background: linear-gradient(to bottom, rgb(38, 162, 211) 0%,rgb(38, 164, 210) 1%,rgba(255,255,255,0) 15%,rgba(255,255,255,0) 38%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22cce2', endColorstr='#00ffffff',GradientType=0 );
        font-weight: bold;
        background-color: transparent !important;
}
.links {

display: inherit;
padding: 15px;
color: #333 !important;
 }
.air
{
    position: absolute;
    width: 100px;
    margin-top: 10px;
    margin-right: 40px;
    right: 10px;
}
.degradfon
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,b5c6d0+2,b5c6d0+4,ffffff+11,ffffff+11,ffffff+90,b5c6d0+96,b5c6d0+99,e0eff9+100 */
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 2%, rgba(181,198,208,1) 4%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 90%, rgba(181,198,208,1) 96%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 2%,rgba(181,198,208,1) 4%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 90%,rgba(181,198,208,1) 96%,rgba(181,198,208,1) 99%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 2%,rgba(181,198,208,1) 4%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 11%,rgba(255,255,255,1) 90%,rgba(181,198,208,1) 96%,rgba(181,198,208,1) 99%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}


.simg{  width: 40px; height: 40px; margin-right: 5px;}
.positin{text-align: left;margin-top: 5px;}

.tamdefine{ height: 100%;width: 50%;}
.iconreeds{ height: 30px; width: 30px;}

.sectionstile{
margin-bottom: 15px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding-right: 7px;
padding-left: 7px;
padding-top: 10px;
padding-bottom: 10px;
}
.back{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+41,efefef+51,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 41%, rgba(239,239,239,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 41%,rgba(239,239,239,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 41%,rgba(239,239,239,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.contmasc{ padding-left: 40%;}

.conmargin{
border-left-style: double;
border-right-style: double;
border-bottom-style: double;
margin-bottom: 15px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
}
.overflofanimal{
    width: 100%;
    height: 410px;
    overflow-x: hidden;
}

.notfloat{float: none;}

.h1estle{text-align: left; margin-left: 20px;}
.ntb-lg
        {
    padding: 4px 10px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}
.gls{    background: rgba(0, 0,0, 0.44) !important;
    box-shadow: 0px 5px 0px 0px rgba(80, 84, 86, 0.64)}
.gls:hover
{
    background: #39a0e5;
}
.gls:active{
    box-shadow: 0px 2px 0px 0px #2980B9;
}
.contengroup {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.42857143;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070707+12,f4f4f4+28,f4f4f4+31,000000+33,050505+99&0.51+1,0.06+35,0.51+100 */
background: -moz-linear-gradient(-45deg,  rgba(7,7,7,0.51) 1%, rgba(7,7,7,0.36) 12%, rgba(244,244,244,0.15) 28%, rgba(244,244,244,0.11) 31%, rgba(0,0,0,0.09) 33%, rgba(0,0,0,0.06) 35%, rgba(5,5,5,0.5) 99%, rgba(5,5,5,0.51) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(7,7,7,0.51) 1%,rgba(7,7,7,0.36) 12%,rgba(244,244,244,0.15) 28%,rgba(244,244,244,0.11) 31%,rgba(0,0,0,0.09) 33%,rgba(0,0,0,0.06) 35%,rgba(5,5,5,0.5) 99%,rgba(5,5,5,0.51) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(7,7,7,0.51) 1%,rgba(7,7,7,0.36) 12%,rgba(244,244,244,0.15) 28%,rgba(244,244,244,0.11) 31%,rgba(0,0,0,0.09) 33%,rgba(0,0,0,0.06) 35%,rgba(5,5,5,0.5) 99%,rgba(5,5,5,0.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82070707', endColorstr='#82050505',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    margin-top: 30%;
    color: rgb(252, 248, 227);
    box-shadow: 5px 5px 15px #373C3E;}
.grupglass{color: #f5f5f5;
    text-align: center;
    background-color: rgba(226, 226, 226, 0.7);
    border: 1px solid #FFF;
    border-radius: 15px;}
.imputglass{background-color: rgba(255, 255, 255, 0.37);border: 1px solid #F9F9F9;border-radius: 20px;color: #FFF !important;}


.butonstile{padding: 10px;}


.botpd{padding:inherit;}
.estiletab{background-color:rgb(63, 166, 215);text-align: left;color:rgb(255, 255, 255); margin-top: 10px;}
.bordtab{border-top: 1px solid #fff; text-align: left;margin-left: 0px;}
.postlef{float: left;height: 60px;margin-top: 15px;}
.posrigth{float: right; height: 70px; margin-top: 10px;margin-right: 10px;margin-bottom: 5px; overflow: hidden;}

.contenmap{ height: 500px; margin: 20px; border-radius: 20px;}
#map { height: 520px; }

.titlecome{ margin-top: 15px;margin-left: 10px; height: 50px;}
.logocomedog{float: left;height: 70px; margin-top: 10px;}

.sectstileadop{margin: 10px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding-right: 7px;
padding-left: 7px;
padding-top: 10px;
}

.conteneter{margin: 10px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 10px;
padding: 10px;

}
.back1{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0071a5+0,00b7ea+20,00b7ea+20,00b7ea+25,00b7ea+27,00b7ea+27,00b7ea+42,00b7ea+42,00b7ea+46,0071a5+100 */
background: rgb(0,113,165); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,113,165,1) 0%, rgba(0,183,234,1) 20%, rgba(0,183,234,1) 20%, rgba(0,183,234,1) 25%, rgba(0,183,234,1) 27%, rgba(0,183,234,1) 27%, rgba(0,183,234,1) 42%, rgba(0,183,234,1) 42%, rgba(0,183,234,1) 46%, rgba(0,113,165,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,113,165,1) 0%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 25%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 46%,rgba(0,113,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,113,165,1) 0%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 20%,rgba(0,183,234,1) 25%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 27%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 42%,rgba(0,183,234,1) 46%,rgba(0,113,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071a5', endColorstr='#0071a5',GradientType=0 ); /* IE6-9 */
}
.imgadop{width: 150px; float: left;position: absolute;left: 40px;top: 20px;box-shadow: 5px 5px 10px #82C8E4;}
.namemasct{text-align: right;margin-right: 10px;padding-top: 5px;color: white;}
.banername{margin-top:30px;border-radius: 15px;height: 40px;margin-left: 10px;}

.links2:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.35+0,0.35+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */

font-weight: bold;
border-radius: 10px;
}
.links2 {

display: inherit;
padding: 15px;
 }
 .estileinfo{margin-left: 30%;}

 .logaler{border-radius: 5px;display: none; padding: 5px;}

.nsfundation{ display: block;}
.imgessc { width: 60%;}.paricon{width: 80%;}.iconadmin{width: 15%;top: 5px;}
 .bagraundfd{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+42,eaeaea+55,eaeaea+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(234,234,234,1) 55%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(234,234,234,1) 55%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(234,234,234,1) 55%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
 border-radius: 20px;
 }
 .textjusti{text-align: justify;}
 .paddinnot{padding:0px;}
 .mapfund{
      height: 400px;
    padding: 71px;
    border-radius: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
 }
.boxshadow{box-shadow: 5px 5px 15px  #373C3E;}

.encuestaestile{width: 100%;height:690px; }

.sidebar {
    display: none;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

  }
}
.posliner{position: relative;top: 51px; margin-bottom: 40px;}

.link3{display: inline-block;}
.link3:hover{ background-color: #25EB4A;font-weight: bold;}
.ctext{color: rgb(142, 142, 142);}
nav{
  background: rgba(0,0,0,0.8);
  width: 100%;
  position: fixed;
  z-index: 10;
}
@media (min-width: 768px){
.main {
    padding-right: 40px;
    padding-left: 40px;
   
    
}
}
.main {
    padding: 20px;
    
}
.drop{background-color: rgba(0, 0, 0, 0.8);color: blue;}

.backvent{background-color: rgba(0, 0, 0, 0.9);color: rgb(142, 142, 142);width: 100%;}
.pestile{border-top-right-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(142, 142, 142);
    width: 60%;
    border-top-left-radius: 20px;
  box-shadow: 5px 5px 15px  #373C3E ;}

.margnone{margin: 0;}
.over{overflow: hidden;}
.colnav{background: rgba(0,0,0,0.8) !important;}
.conteform{
margin-right: 30px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
padding: 25px;
box-shadow: 5px 5px 15px  #373C3E ;}
.marginlabel{margin-top: 5px;}.butstil{width: 100%;}.boderno{border: none;}.margindistan{margin-top: 30px;}

.contlat{height: 40px;color:#337ab7;}.padp{padding-top: 10px;padding-left: 10px; padding-right: 10px;}.padinone{padding: 0;}
.contlat:hover {background-color: rgba(0, 0, 0, 0.05)}
.contarnum{background-color:rgb(255, 177, 0);}.pull{margin-top: 5px;}.colortexth4{color: #BBBABA;}

td, th {text-align: left;padding: 8px;}.tdlg{ width: 80%; margin-left: 20px;}
.tdm{width: 15%}.tdd{width: 20%;}.tdmd{width: 10%;}.tdxs{width: 5%;}.tdb{border: #ddd 1px solid;}.tddm{width: 30%} .tabl{width: 100%;max-width: 100%;margin-bottom: 20px;}
.scroltab
{
    position: absolute;
    overflow-y: auto;
    height: 11%;
    margin-top: 2px;
    margin-bottom: 5px;    
}

.pest{
    background-color: rgb(0, 134, 156);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;}
.podingtitle{
    padding-top:15px;
    padding-bottom:15px;
    margin:0;
    color: #29ADC3;
    text-align: justify;
    
}
.podingtitle1 {
    padding: 15px;
    margin: 0;
    color: #fff;
    text-align: justify;
    background: #008196;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.notborad{border-radius: 0px;}
.timod{ background-color: rgb(0, 134, 156); color: white;}
.titedit{color: white;background-color: rgb(81, 167, 71);}
.coloralert{color:#07A2B3;}.colordanger{color: #FFB300;}.colorer{color: red;}.colorok{color:#ddd;}.colorok:hover{color:green; background:#fff;}
.coloremuve{color:#ddd;}.coloremuve:hover {color:red;background:#fff;}
.displaycol{height: 100px; overflow-x:hidden;}
.mion{margin-top: 10px;width: 90%;height: 200px;}
.titinfo{width: 100%; background-color: #07A2BA;padding: 8px;border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;}

.sectionstile2 {
    margin-bottom: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}
.sectionstile3 {
    margin-bottom: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #A7A7A7;
}
.border-left: {border-left:#ddd 1px solid;}
.buttonborder{border-radius: 20px;box-shadow: 2px 3px 6px #999 ;}

.pestwo {
    background-color: rgb(197, 197, 197);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.tabdescr
{
    border: 1px solid #ddd;
    width: 100%;
    height: 100px;
    overflow-x: scroll    
}
.fondadmi {
    
    width: 100%;
    bottom: 0px;
    position: fixed;
    margin-top: 61px;
    top: 0px;
    left: 0px;
    background: url('../img/df.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0,0;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.fixed
{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1092px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0);
    border-color: white;

}
.lnfixd{  
    position: fixed;
    z-index: 1002;
    top: 0;
    width: 100%;
    margin-top: 52px;

}
.linkfx{    
    
    padding: 15px;
    color: white;}

.linkfx:hover{
    background-color: transparent !important;
    font-weight: bold;
    color: #E6E6E6;
}
.nobackcolor{background-color: transparent;}

.fonhome {
    
    width: 100%;
    top: 0px;
    left: 0px;
    background: url('../img/fon1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    position: absolute;

}
.glassblack
{
    background-color: rgba(32, 30, 30, 0.5);
}
.infohome{
    background-color: rgba(32, 30, 30, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.titlestile
{
font-family:  Georgia, Cambria, Times, "Times New Roman" ;
color: #FFFFFF;
}
.butglass
{
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
            text-align:center;
            text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
            color: #FFF;
            background: #7F8C8D;
            padding: 7px 20px;
            white-space: nowrap;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 100px;
            margin: 10px 5px;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.glass
{
background:  rgba(120, 124, 128, 0.5);
box-shadow: 0px 5px 0px 0px #505456;
}
.glass:hover
{
    background: #39a0e5;
}
.glass:active{
    box-shadow: 0px 2px 0px 0px #2980B9;
}
.redsocial
{

margin-top: 200px;
left: 0;
background-color: rgba(255, 255, 255, 0);
border-radius: 10px;
padding: 5px; 
position: fixed;
margin-left: 10px;  
z-index: 1001;
 
}
.iconred{width: 20%; background: rgba(47, 45, 45, 0.6); border-radius: 50%;margin-bottom: 5px;}

.iconred:hover{background: #39a0e5;; border-radius: 50%;}
.iconlanding{margin-top: 100px;}

.landsecion
{
width: 100%;
overflow: hidden;
left: 0px; 
height: 1700px;
background: #ffffff;
    margin-top: 50px;
    z-index: 10;

}
.redfoot{
    width: 3%;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.redfoot:hover
{
background: rgba(255,255,255,0.48);
}
.sectionpage
{
margin-top: 80px;
border: 1px solid rgb(246, 246, 246);
border-radius: 10px;padding: 10px;padding-left: 10px;padding-right: 10px;
height: 236px;
box-shadow: 2px 4px 4px rgba(179, 179, 179,0.8);


}
.sectioncol{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+2,ffffff+28,f2f2f2+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 2%, rgba(255,255,255,1) 28%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 28%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 2%,rgba(255,255,255,1) 28%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.textcolor{color:  #5A5858; font-family:  Georgia, Cambria, Times, "Times New Roman" ;}
.titulosection {color: #29ADC3;}
.imgsecfloat{margin-left: 20px; position: relative;}
.sectionpage1
{
margin-top: 80px;
border: 1px solid rgb(246, 246, 246);
border-radius: 10px;padding: 10px;padding-left: 10px;padding-right: 10px;
box-shadow: 2px 4px 4px rgba(179, 179, 179,0.8);
}
.contimg{padding: 5px;position: relative;}

.imgarb{
float: left;
overflow: hidden;
left: 4px;
position: absolute;
width: 70%;
}
.fixedscroll
{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1092px;
    background-color: #ffffff;
    border-color: white;

}
.posrel{position: relative;display: block;}
.infohfixd{
    background-color: transparent !important;
}
.contwith {
    position: fixed;
    background: #ffffff;
    width: 100%;
    height: 55px;
    z-index: 10;
    left: 0;
    top: 0;
}
.froneth
{
    background: url('../img/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0,0;
    width: 100%;
    margin-top: 50px;
    height: 348px;
    color: #fff;
   
}
.footcolor{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,05abe0+100 */
background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(135,224,253,1) 0%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(135,224,253,1) 0%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(135,224,253,1) 0%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */

}
.fotlanding
{
    color: #fff;
    text-align: center;
}
.fondlogin  
{

    background: url('../img/escheresque_ste.png');
    filter: blur(15px);
    background-repeat:repeat; /* Indicamos que la textura se repetira */
    background-attachment: fixed;
    font-family:helvetica, arial, sans-serif;
}
.backtwo {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ededed+77,ffffff+78,596a72+100&0.47+0,1+77,0+81 */
background: -moz-linear-gradient(top,  rgba(247,247,247,0.47) 0%, rgba(237,237,237,1) 77%, rgba(255,255,255,0.75) 78%, rgba(232,235,236,0) 81%, rgba(89,106,114,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(247,247,247,0.47) 0%,rgba(237,237,237,1) 77%,rgba(255,255,255,0.75) 78%,rgba(232,235,236,0) 81%,rgba(89,106,114,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(247,247,247,0.47) 0%,rgba(237,237,237,1) 77%,rgba(255,255,255,0.75) 78%,rgba(232,235,236,0) 81%,rgba(89,106,114,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f7f7f7', endColorstr='#00596a72',GradientType=0 ); /* IE6-9 */
overflow: hidden;
}
.imafont
{
    box-shadow: 1px 5px 10px #677880;
    margin-top: 30px;
    border: 1px solid #fff;
    margin-bottom: 12px;
    height: 300px;
    width: 100%;
    background: url('../img/pata.jpg');
    background-size: cover;
}
.cementery
{
    background: rgba(255,255,255,0.4);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    padding-right: 5px;
}
.evenconten
{
 border: 1px solid rgba(247,247,247,0.47);
 padding-top: 5px;
 padding-right: 10px;

 background: url('../img/xy.png');
    background-repeat:repeat; /* Indicamos que la textura se repetira */
    background-attachment: fixed;
    font-family:helvetica, arial, sans-serif;
    padding-top: 20%;
}
.logofloat
{
top: 10%;
right: 10%;
position: absolute;
z-index: 20;
width: 15%;
}
.colsector{color:#399E91 !important;}
.eventname{ 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    background: rgba(31, 169, 214, 0.63);
    margin-left: 5px;

}
.backfonttree{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2e2e2+74&0+0,0.92+73,0.92+73,0+74 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(226,226,226,0.92) 73%, rgba(226,226,226,0) 74%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(226,226,226,0.92) 73%,rgba(226,226,226,0) 74%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(226,226,226,0.92) 73%,rgba(226,226,226,0) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00e2e2e2',GradientType=0 ); /* IE6-9 */

overflow:hidden;
margin-top:10px;
}
.butposadop
{
position: absolute;
right: 5%;
bottom: 2%;
z-index: 100;
}
.fonadop
{
     background: url('../img/escheresque.png');
    filter: blur(15px);
    background-repeat:repeat; /* Indicamos que la textura se repetira */
    background-attachment: fixed; 
}
.comenterytwo
{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #fff;
    top: 50%;
    padding-right: 5px;
    margin-bottom: 10px;
    text-align: justify;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #43C3B3
}
.backfooter
{
    background-color: #333333;
    color: white;
    padding-top: 20px;
    border: 1px solid #2989D8;
    margin-top: 40px;
}
.colfotter{
    background: rgb(41, 137, 216);
    border: 1px solid #1FBACA;
}
.ve{color:rgba(0,183,234,1);}
@media (max-width: 500px){
.ve{display: none;}
.ue{display: none;}
.s{display: block; position: inherit !important;}
}

.footwo{
    border: 1px solid rgba(0,183,234,1);
    background: #2973AF;
    width: 35px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.footwo:hover{
    background:transparent;
    border:1px solid #999;
}
.playstile{
    
    box-shadow: 5px 4px 5px #717070;
}
.ue{
    background: url('../img/ue.png');
    position: absolute;
    background-repeat: repeat;
    background-position: 0,0;
    width: 79%;
    height: 100px;
    overflow: hidden;
    left: 10%;
    margin-top: 10px;
}
.iconadop{
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px #999;
}
.bord{border-left-style: inset;}
.pestree{
     border-left-style: inset;
     color: white;
     background-color: #318B8F;
}
.msj
{

margin:auto;
padding-left: 10px;
padding-right: 10px;
width: 350px;
margin-top: 35%;
 font-family:  Georgia, Cambria, Times, "Times New Roman" ;

}
.exafon
{
    margin-top: 100%;
}
@media (max-width: 1100px){
.nove{display: none;}

}
.titcred
{
    width: 50%;
    background-color: #0B5B67;
    padding: 8px;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}