<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Nuevo Administrador</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" rel = "stylesheet">
 	<link rel="stylesheet" type="text/css" href="css/estile.css">
</head>
<body class="backfont">
	<div class="liner"></div>
	<br>
	<div class="container">
	<div class="row">
		<div class="col-xs-1 col-md-1"></div>	
		<div class="col-xs-10 col-md-10">
			<div class="titedit pestile" >
			<h4 class="margnone">Editar datos <span class="btn-lg glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
			</div>
			<div class="conteform">
				<br>
				<div class="form-group">
					<div class="row">
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti" for="Nombres del adoptante">Clasificación:</label></div>
					<div class="col-xs-9 col-md-4">
						<select class="form-control">
						  <option>Perro</option>
						  <option>Gato</option>
						</select>
						<br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti"  for="Apellidos del adoptante">Rasgo:</label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="last_name"placeholder="Rasgo / raza parentesco"><div  class="logaler alert-danger" id="last_name-error"></div>
					</div>
					</div>

					<div class="row">
					<br>
					<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Nombre del adoptante">Edad: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="age_user" placeholder="Edad promedio"><div  class="logaler alert-danger" id="age-error"></div><br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel"  for="Edad del adoptante">Necesita cirugía:</label></div>
					<div class="col-xs-9 col-md-4">
						<select class="form-control">
						  <option>No</option>
						  <option>Si</option>
						</select>
					</div>
					</div>
					<hr>
					<div class="row">
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel" for="Edad del adoptante">Nombre:</label></div>
					<div class="col-xs-9 col-md-4"><input  type="text" class="form-control" id="ident_car"placeholder="Nombre del responsable">
					<br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label for="Nombre del adoptante">Edad: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="email_user" placeholder="Edad del responsable">
					<br>
					</div>
					</div>
					<div class="row">
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel" for="Edad del adoptante">Dirección:</label></div>
					<div class="col-xs-9 col-md-4"><input  type="text" class="form-control" id="ident_car"placeholder="Dirección del responsable">
					<br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label for="Nombre del adoptante">Telefono: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="email_user" placeholder="Telefono responsable">
					<br>
					</div>
					</div>

				</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Guardar Cambios  »&nbsp;<span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>

						<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
						  <div class="modal-dialog modal-sm">
						    <div class="modal-content">
						    	<div class="modal-body">
						    		<p ><span class="coloralert btn-lg glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Esta seguro de efectuar cambios </p>
						    	</div>
						    	<div class="modal-footer">
                    		  <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    		</div>
						    </div>
						    
						  </div>
						</div>

				<button class="btn btn-default" onclick="window.close();">cancelar</button>
			</div>	
		</div>	
		<div class="col-xs-1 col-md-1"></div>	
	</div>
	</div>

	 <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js"  type="text/javascript"></script>
</body>
</html>