{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}
	<h1 class="coloralert">Eventos</h1>
              <div class="sectionstile">
              <div class="row">
              <div class="textjusti col-xs-4 col-md-8 col-lg-8">
                <a  type="button" class="btn btn-primary buttonborder" href="{{path('pc_administrator_eventos_add')}}" id="ventevento">Crear nuevo evento</a>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4"></div> <!-- div div responsive -->
            </div> <!-- div row-->
            <br>
           <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre del Evento</th>
                  <th>Fecha de realización</th>
                  <th>Lugar de realización</th>
                  <th>Descripción</th>
                  <th class="tdxs">Editar</th>
                  <th class="tdxs">Remover</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Concienciatizacion animal</td>
                  <td>09/09/2012</td>
                  <td>Universiad del Quindio</td>
                  <td>...</td>
                  <td><a href="{{path('pc_administrator_evento_edit')}}" id="ventevento1" class="btn btn-default "><span class="colordanger  glyphicon glyphicon-minus-sign"data-toggle="tooltip" data-placement="right" title="editar" aria-hidden="true"></a></td>
                  <td><a href=""class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="colorer  glyphicon glyphicon-remove-sign"data-toggle="tooltip" data-placement="right" title="Eliminar evento" aria-hidden="true"></a>
                  
                  	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        						  <div class="modal-dialog modal-sm">
        						    <div class="modal-content">
        						    	<div class="modal-body">
        						    		<p ><span class="coloralert btn-lg glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Esta seguro de efectuar cambios </p>
        						    	</div>
        						    	<div class="modal-footer">
                           <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.close();">Aceptar</button>
                          </div>
        						    </div>
						    			  </div>
          						</div>
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div><!--div close sectionstile-->
{% endblock %}