{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}

	<h1 class="coloralert"> jornadas esterilizaciones</h1><hr>

			<div class="sectionstile">
             <br>
           <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Zona</th>
                  <th>FEcha de realización</th>
                  <th>$ costo total</th>
                  <th>mas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>comuna 2 distrito</td>
                  <td>09/09/2012</td>
                  <td>$ 450.000</td>
                  <td><a href="{{ path('pc_admin_esterilizacion')}}">&nbsp;<span class="glyphicon glyphicon-share" aria-hidden="true"></a></td>
                </tr>
               </tbody>
            </table>
          </div>
{% endblock %}