{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}

	<h1 class="coloralert"> jornadas esterilizaciones</h1><hr>

			<div class="sectionstile">
              <table class="table table-hover">
              <thead>
                <tr class="podingtitle1">
                  <th>Zona</th>
                  <th>Fecha de realización</th>
                  <th>Costo total</th>
                  <th class="tdxs">mas</th>
                </tr>
              </thead>
              <tbody>
                {% for meeting in meetings %}
                <tr>
                  <td>{{ meeting.meeting.address }}</td>
                  <td>{{ meeting.control_at | date("m/d/Y") }}</td>
                  <td>${{ meeting.totalAmount }}</td>
                  <td><a href="{{ path('pc_admin_esterilizacion', {'meetingId' : meeting.meeting.id, 'controlAt' : meeting.control_at | date ("m-d-Y"), 'amount' : meeting.totalAmount} )}}" class="btn btn-default"><span class="coloralert  glyphicon glyphicon-share" aria-hidden="true"></a></td>
                </tr>
                {% endfor %}
               </tbody>
            </table>
          </div>
{% endblock %}