{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}
		
			<h1 class="coloralert">Mascotas Adoptadas</h1><hr>
			<br>
		<div class="sectionsile">
			
			 <table class="tabl table-striped">
              <thead>
                <tr><td class="pest" colspan="3">Adoptante</td>
                </tr>
                <tr class="tdb">
                  <th class="tdxs">#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th class="tdxs">Edad</th>
                  <th>Telefono</th>
                  <th>Dirección</th>
                  <th>Correo</th>
                  <th class="bdleft">Mascota</th>
                  <th>Edad</th>
                  <th class="tdxs">visita</th>
                </tr>
              </thead>
              <tbody class="tdb">
              <tr>
                  <td>1</td>
                  <td>Steven</td>
                  <td>quintero</td>
                  <td>12</td>
                  <td>724354</td>
                  <td> B/ villa sasa</td>
                  <td>qunte@hotm...</td>
                  <td class="bdleft">steven</td>
                  <td class="tdxs">5</td>
                  
                  <td><a href="" id="vermas" data-toggle="tooltip" data-placement="right" title="ver datos"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                </tr>
              </tbody>
            </table>

			
		</div><!--div close sectionstile 2 -->
	</div>
	{% endblock %}