<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Nuevo Administrador</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" rel = "stylesheet">
 	<link rel="stylesheet" type="text/css" href="css/estile.css">
</head>
<body class="backfont">
	<header id="header" class="backvent">
		<a><img class="img-responsive dimen"src="img/nombre.png"></a>
	</header>
	<br>

	<div class="container">
	<div class="row">
		<div class="col-xs-1 col-md-1"></div>	
		<div class="col-xs-10 col-md-10">
			<div class="pestile" >
			<h4 class="margnone">Nuevo Administrador<span class="btn-lg glyphicon glyphicon-user" aria-hidden="true"></span></h4>
			</div>
			<div class="conteform">
				<br>
				<div class="form-group">
					<div class="row">
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti" for="Nombres del adoptante">Nombres: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="username" placeholder="Nombres del Administrador"><div  class="logaler alert-danger" id="username-error"></div><br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti"  for="Apellidos del adoptante">Apellido:</label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="last_name"placeholder="Apelidos del Administrador"><div  class="logaler alert-danger" id="last_name-error"></div>
					</div>
					</div>

					<div class="row">
					<br>
					<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Nombre del adoptante">Edad: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="age_user" placeholder="Edad del Administrador"><div  class="logaler alert-danger" id="age-error"></div><br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel"  for="Edad del adoptante">Cedula:</label></div>
					<div class="col-xs-9 col-md-4"><input  type="text" class="form-control" id="ident_car"placeholder="Identificación del Administeador"><div  class="logaler alert-danger" id="id-error"></div>
					</div>
					</div>

					<div class="row">
					<br>
					<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Nombre del adoptante">Email: </label></div>
					<div class="col-xs-9 col-md-4"><input type="text" class="form-control" id="age_user" placeholder="ejemplo@dominio.com"><div  class="logaler alert-danger" id="age-error"></div>
					</div>
					</div>
					<hr>
					<div class="row">
					<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel" for="Edad del adoptante">Contraseña:</label></div>
					<div class="col-xs-9 col-md-4"><input  type="text" class="form-control" id="ident_car"placeholder="mas de 8 caracteres"><div  class="logaler alert-danger" id="id-error"></div>
					<br>
					</div>
					<div class="textjusti col-xs-3 col-md-2">
					<label for="Nombre del adoptante">Confirmar contraseña: </label></div>
					<div class="col-xs-9 col-md-4"><input type="password" class="form-control" id="email_user" placeholder="volver a escrivir la contraseña"><div  class="logaler alert-danger" id="email-error"></div><br>
					</div>
					</div>

				</div>
				<button class="btn btn-primary">Guardar datos <span class="glyphicon glyphicon-save" aria-hidden="true"></span> </button>
			</div>	
		</div>	
		<div class="col-xs-1 col-md-1"></div>	
	</div>
	</div>
</body>
</html>