{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}
	<div>
		<div class="row">
			<h1 class="coloralert">Solicitud de Adopción &nbsp; <a href="{{path('pc_admin_pet_solicitudes')}}" type="button" class=" buttonborder pull-right btn btn-primary"> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;regresar</a></h1>
			<hr>
			<div class="col-md-6">
			<div class="titinfo">Mascota</div>
			<div class="sectionstile2">
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Nombre:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Nomascota" disabled></div>
			</div><br><!-- div close row form -->
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Edad:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="EDmascota" disabled></div>
			</div><br>
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Color:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Colmascota" disabled></div>
			</div><br><!-- div close row form -->	
			<div class="row">
				<div class="textjusti col-md-3"><label class="marginlabel">Sexo:</label></div>	
			<div class="col-md-9"><select class="form-control" disabled>
						  <option>Macho</option>
						  <option>hembra</option>
						</select>
					</div>
			</div><br>

			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Rasgo:</label></div>	
			<div class="col-md-9"><input type="text" name="Colmascota" class="form-control" disabled></div>
			</div><br><!-- div close row form -->
			<div class="row">
				<div class="textjusti col-md-3"><label class="marginlabel">Vacunado:</label></div>	
				<div class="col-md-9"><select class="form-control" disabled>
						  <option>Si</option>
						  <option>No</option>
						</select>
					</div>
			</div>	<br>
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Esterilizado:</label></div>	
			<div class="col-md-9"><select class="form-control" disabled>
						  <option>Si</option>
						  <option>No</option>
						</select>
			</div><br>
					
			</div>
			
		</div><!--div sectionsitile-->
	</div><!-- div close col-md-6 mascota info-->
		<div class="col-md-6">
			<div class="titinfo">Adoptante</div>
			<div class="sectionstile2">
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Nombre:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Nomascota" disabled></div>
			</div><br><!-- div close row form -->
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Apellado:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="EDmascota" disabled></div>
			</div><br>
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Edad:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Colmascota" disabled></div>
			</div><br><!-- div close row form -->
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">cedula:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Nomascota" disabled></div>
			</div><br><!-- div close row form -->
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Dirección:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="EDmascota" disabled></div>
			</div><br>
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Telefono:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Colmascota" disabled></div>
			</div><br><!-- div close row form -->	
			<div class="row">
			<div class="textjusti col-md-3"><label class="marginlabel">Correo:</label></div>	
			<div class="col-md-9"><input type="text" class="form-control" name="Colmascota" disabled></div>
			</div><!-- div close row form -->	
			</div>
		</div>
		</div><!--div close row conten ful-->
			<button type="button" class="btn btn-primary" id="aceptar">Aprobar </button>
			<button type="button" class="btn btn-info" id="aceptar">Pendiente</button>
			<button type="button" class="btn btn-default" id="aceptar">Denegar</button>
	</div>

{% endblock %}
